
@model OrderModel 

<h1>Checkout</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <h4 class="mb-3">Order Details</h4>
        <form asp-controller="Cart" asp-action="Checkout" method="post">
            <input type="hidden" name="cartId" value="0" />
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" value="" />
                </div>
                <div class="col-md-6">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" value="" />
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Address"></label>
                <textarea asp-for="Address" class="form-control"></textarea>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" value="" />
                </div>
                <div class="col-md-4">
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone" class="form-control" value="" />
                </div>
                <div class="col-md-4">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" value="" />
                </div>
            </div>

            <hr class="mb-3" />
            <h4 class="mb-3">Payment Information</h4>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="CartName"></label>
                    <input asp-for="CartName" class="form-control" value="" />
                </div>
                <div class="col-md-6">
                    <label asp-for="CartNumber"></label>
                    <input asp-for="CartNumber" class="form-control" value="" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="ExpirationMonth"></label>
                    <input asp-for="ExpirationMonth" class="form-control" value="" />
                </div>
                <div class="col-md-4">
                    <label asp-for="ExpirationYear"></label>
                    <input asp-for="ExpirationYear" class="form-control" value="" />
                </div>
                <div class="col-md-4">
                    <label asp-for="Cvc"></label>
                    <input asp-for="Cvc" class="form-control" value="" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
    </div>
    <div class="col-md-4">
        <h4 class="mb-3">
            <span>Summary information</span>
        </h4>
        <ul class="list-group mb-3">

            @foreach (var item in Model.CartModel.CartItems)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6>@item.Name</h6>
                    </div>
                    <span class="text-muted">@item.Price.ToString("c")</span>
                </li>
            }

            <li class="list-group-item d-flex justify-content-between">
                <span>Total (TL)</span>
                <strong class="text-muted">@Model.CartModel.TotalPrice().ToString("c") TL</strong>
            </li>
        </ul>
    </div>
</div>